/**
 * Palettes
 * ----------------------------------------------------------------------------
 */
 .palette-dark {
  background: _palette(primary);
  color: _palette(primary-alt);

  pre,
  hr,
  th,
  td,
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="search"],
  input[type="url"],
  select,
  textarea,
  .site-header,
  .site-footer,
  .contact-block,
  .service-counter:before,
  .service-counter:after {
    border-color: _palette(border-alt);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  th,
  label {
    color: #fff;
  }

  a:not(.button):hover,
  a:not(.button):focus,
  .site-navigation,
  .site-footer,
  .post-subtitle { 
    color: _palette(primary-alt);
  }

  caption,
  .block-subtitle,
  .hero-block .block-content,
  .page-subtitle,
  .testimonial-author {
    color: _palette(meta);
  }
 
  @media only screen and (max-width: 800px) {
    .site-header:before {
      background: rgba(darken(_palette(primary), 15%),.6);
    }

    .site-navigation {
      background:_palette(primary);

      .menu-item,
      .menu-item:first-child {
        border-color: _palette(border-alt);
      }
    }
  }
}

/* Green accent color */
.accent-green {
  a,
  .site-navigation .current-menu-item,
  #main-navigation a:hover,
  #main-navigation a:focus,
  #colophon a:hover,
  #colophon a:focus,
  .testimonial-text:before,
  .view-all {
    color: _palette(accent-green);
  }

  button,
  input[type="submit"],
  input[type="button"],
  input[type="reset"],
  a.button {
    border-color: _palette(accent-green);
    color: _palette(accent-green);

    &:hover,
    &:focus,
    &:active {
      color: _palette(accent-green);
    }
  }

  blockquote,
  button.button:before,
  button.button:after,
  a.button:before,
  a.button:after,
  .line-top:before,
  .view-all:before,
  .view-all:after {
    border-color: _palette(accent-green);
  }

  .form-row .input-focus,
  .site-title a {
    background: _palette(accent-green);
  }
}

/* Blue accent color */
.accent-blue {
  a,
  .site-navigation .current-menu-item,
  #main-navigation a:hover,
  #main-navigation a:focus,
  #colophon a:hover,
  #colophon a:focus,
  .testimonial-text:before,
  .view-all {
    color: _palette(accent-blue);
  }

  button,
  input[type="submit"],
  input[type="button"],
  input[type="reset"],
  a.button {
    border-color: _palette(accent-blue);
    color: _palette(accent-blue);

    &:hover,
    &:focus,
    &:active {
      color: _palette(accent-blue);
    }
  }

  blockquote,
  button.button:before,
  button.button:after,
  a.button:before,
  a.button:after,
  .line-top:before,
  .view-all:before,
  .view-all:after {
    border-color: _palette(accent-blue);
  }

  .form-row .input-focus,
  .site-title a {
    background: _palette(accent-blue);
  }
}

/* Violet accent color */
.accent-violet {
  a,
  .site-navigation .current-menu-item,
  #main-navigation a:hover,
  #main-navigation a:focus,
  #colophon a:hover,
  #colophon a:focus,
  .testimonial-text:before,
  .view-all {
    color: _palette(accent-violet);
  }

  button,
  input[type="submit"],
  input[type="button"],
  input[type="reset"],
  a.button {
    border-color: _palette(accent-violet);
    color: _palette(accent-violet);

    &:hover,
    &:focus,
    &:active {
      color: _palette(accent-violet);
    }
  }

  blockquote,
  button.button:before,
  button.button:after,
  a.button:before,
  a.button:after,
  .line-top:before,
  .view-all:before,
  .view-all:after {
    border-color: _palette(accent-violet);
  }

  .form-row .input-focus,
  .site-title a {
    background: _palette(accent-violet);
  }
}

/* Yellow accent color */
.accent-yellow {
  a,
  .site-navigation .current-menu-item,
  #main-navigation a:hover,
  #main-navigation a:focus,
  #colophon a:hover,
  #colophon a:focus,
  .testimonial-text:before,
  .view-all {
    color: _palette(accent-yellow);
  }

  button,
  input[type="submit"],
  input[type="button"],
  input[type="reset"],
  a.button {
    border-color: _palette(accent-yellow);
    color: _palette(accent-yellow);

    &:hover,
    &:focus,
    &:active {
      color: _palette(accent-yellow);
    }
  }

  blockquote,
  button.button:before,
  button.button:after,
  a.button:before,
  a.button:after,
  .line-top:before,
  .view-all:before,
  .view-all:after {
    border-color: _palette(accent-yellow);
  }

  .form-row .input-focus,
  .site-title a {
    background: _palette(accent-yellow);
  }
}